/*tablero*/
body{
	background: #333;
	font-family: '04b03Regular';
}
.p_ply{
}
.p_ply span{
	background: white;
}
#p_ply0{
	float: left;
	background: #333;
	position: absolute;
}
#p_ply0 span{
	float: left;
}
#p_ply1{
	float: right;
	background: #999;
}
#p_ply1 span{
	float: right;
}