/*tablero*/
body{
	background: #333;
	font-family: '04b03Regular';
}
.p_ply{
}
#p_ply0{
	float: left;
	position: absolute;
}
#p_ply1{
	float: right;
	background-position: right;
}
.n_ply{
	position: absolute;
	z-index: 2;
	color: #333;
	background: white;
	padding:5px;
}
#n_ply1{
	right: 0;
}